.wrapper {
  background-color: var(--color-primary);
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.body {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin-bottom: 3rem;
  border-bottom: 2px solid white;
  width: 80%;
}

.imageWrapper {
  /* opacity: 0.5; */
  margin-top: 3rem;
  width: 40vw;
  max-width: 400px;
  height: 50vh;
  /* position: relative; */
}
