.wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 16px;
  grid-auto-rows: 16px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.wrapper > span {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper > div:hover {
  cursor: pointer;
  transition: opacity 1s;
}

@media (max-width: 850px), (max-height: 850px) {
  .wrapper {
    grid-template-columns: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 851px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
