html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Declaring global variables */
:root {
  /* --color-primary: #252525; */
  --color-primary: #a4b2bf;
  --color-primary-action-accent: #45617a;
  --color-primary-action-accent-lighter: #7290a9;
  --color-primary-background-light: #ffffff;
  --color-primary-background-medium: #c8bcb4;
  --image-height-multiplier-horizontal: 0.8;
  --image-height-multiplier-vertical: 1.25;
}
