.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.container footer {
  display: flex;
  justify-content: center;
}

.sectionsWrapper {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.sectionsWrapper section {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.sectionsWrapper section:nth-of-type(1) {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

/* Section one */
.sectionsWrapper section:nth-of-type(1) > p {
  margin: 30px;
  font-size: 1.5rem;
  margin-left: 22vw;
  margin-right: 22vw;
  margin-bottom: 0px;
  text-align: center;
}
/* Section two */
.sectionsWrapper section:nth-of-type(2) {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.sectionsWrapper section:nth-of-type(2) > p {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 22vw;
  margin-right: 22vw;
}

.sectionTwoTop {
  background-color: transparent;
  height: 50vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  padding-bottom: 30px;
}

.sectionTwoBottom {
  background-color: var(--color-primary-background-light);
  height: 50vh;
  width: 100%;
  z-index: 1;
}
/* Section three */
.sectionsWrapper section:nth-of-type(3) {
  background-color: var(--color-primary-background-medium);
  display: flex;
  flex-direction: column;
  padding: 60px;
  overflow-y: hidden;
}

.arrowDownWrapper {
  /* background-color: red; */
  margin-top: 17rem;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 25px;
}

.arrowDown {
  width: 2rem;
  height: 2rem;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  transform: rotate(135deg);
}

.arrowDown:hover {
  cursor: pointer;
  transform: rotate(135deg);
  border-top: 2px solid rgba(255, 255, 255, 1);
  border-right: 2px solid rgba(255, 255, 255, 1);
}

.sectionTwoArrowDownWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  z-index: 9;
  background-color: pink;
}

/* images */

.sectionOneImageContainer {
  display: flex;
  flex-grow: 5;
  justify-content: center;
  width: 100%;
}

.sectionOneImageContainer > div {
  width: 70vw;
  max-width: 550px;
  /* height: 60vh; */
  position: relative; /* parten of image must be relative for size to work*/
}

.sectionTwoImageOuterContainer {
  width: 40em;
  position: relative;
  z-index: 3;
  margin-right: 5%;
  max-width: 40em;
  max-height: 30em;
}

.sectionTwoImageTwoOuterContainer {
  width: 45em;
  /* position: relative; */
  left: 65em;
  bottom: 10em;
}

/* labels */
.sectionOneLabel {
  /* position: relative; */
  bottom: 5rem;
  right: 12rem;
  color: white;
  font-size: 3rem;
  font-family: Georgia, serif;
  /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.2px white; */
}

.sectionOneLabel > div {
  font-size: 1rem;
}

.sectionTwoTopLabel {
  /* position: relative; */
  left: 18em;
  bottom: 8em;
  font-size: 3rem;
  color: black;
  font-family: Georgia, serif;
  font-size: 3rem;
  border-bottom: 1px solid black;
  width: 30vw;
  height: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
}

.sectionTwoTopLabel > div {
  font-size: 1.2rem;
  font-weight: 100;
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: black;
}

.testclass {
  /* position: absolute !important; */
  position: relative !important;
  bottom: 0;
  color: white;
  font-size: 20vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  margin-right: 10px;

  /* left: 20%; */
  /* left: calc(100vw - 26rem);
  top: calc(100vh - 20rem); */
}

.testclass > p {
  font-size: 2.5rem;
  position: relative;
  bottom: 2rem;
  margin: 0;
  margin-right: inherit;
  padding: 0;
}

.pageBreak {
  height: 7rem;
  width: 100%;
  margin: 0;
}

.sectionTitle {
  position: absolute;
  top: 100px;
  left: -70px;
  transform: rotate(-90deg);
}

.sectionTitle > p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.sectionTitle > div {
  height: 2px;
  width: 250px;
  background-color: #ffffff;
}

.buttonDown {
  width: 100%;
  height: 50px;
  position: static;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0);
}
.buttonDown:hover {
  background-color: rgba(1, 1, 1, 0.5);
  transition-duration: 0.3s;
}

.arrowDownIconWhite {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(253deg)
    brightness(102%) contrast(101%);
}

/* media queries */

@media (max-width: 850px), (max-height: 720px) {
  .sectionTitle {
    display: none;
  }
  .testclass {
    font-size: 12rem;
  }
  .sectionsWrapper {
    scroll-snap-type: none;
  }
  .sectionsWrapper section {
    height: auto;
  }

  .sectionOneImageContainer > div {
    width: 100%;
    max-width: none;
    height: calc(100vw * var(--image-height-multiplier-vertical));
  }

  .sectionsWrapper section:nth-of-type(1) > p {
    margin: 30px; /* */
    text-align: justify;
  }

  .sectionsWrapper section:nth-of-type(2) > p {
    margin-left: 0px;
    margin-right: 0px;
  }

  .buttonDown {
    display: none;
    width: 0;
    height: 0;
  }
}

/* @media (min-width: 1280px) {
  .header > h1 {
    font-size: 6rem;
    transition-property: font-size;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.6s;
  }
  .telephone {
    font-size: 1.5rem;
  }
} */

@media (max-height: 850px) and (min-width: 850px) and (min-height: 720px) {
  .sectionOneImageContainer > div {
    width: 70vw;
    max-width: 450px;
    /* height: 60vh; */
    position: relative; /* parten of image must be relative for size to work*/
  }
}
