.sectionThreeImageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;
}

.sectionThreeImageContainer > div {
  width: 70vw;
  max-width: 600px;
  height: 60vh;
  z-index: 3;
  position: relative; /* parten of image must be relative for size to work*/
}

.backgroundText {
  justify-content: center;
  align-items: flex-start;
  font-family: "Aboreto";
  font-size: 30.5vw;
  z-index: 0 !important;
  left: -10vw;
  top: -15vw;
  /* text-align: center; */
  position: absolute !important;
  /* overflow-y: ; */
}

.customfooter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  /* font-size: 50rem; */
  z-index: 5;
}

@media (max-width: 850px), (max-height: 720px) {
  .sectionThreeImageContainer > div {
    width: 100%;
    max-width: none;
    z-index: 4;
    height: calc(100vw * var(--image-height-multiplier-horizontal));
  }

  .backgroundText {
    position: absolute !important;
    z-index: 1 !important; /* Important because the upper selector targets each div */
    width: 100;
    height: 100;
    display: flex;

    /* bottom: -3rem; */
    top: 4rem;
    left: 20rem;
    font-size: 35vw;
    color: black;
  }
}
