.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: aqua;
}

.sectionsWrapper {
    width: 100%;
    height: 100%;
    background-color: green;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sectionsWrapper section {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.sectionsWrapper section:nth-of-type(1){
    background-color: #252525;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sectionsWrapper section:nth-of-type(2){
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sectionTwoTop{
    background-color: transparent;
    height: 50vh;
    width: 50vw;
}

.sectionTwoBottom{
    background-color: #ffffff;
    height:  50vh;
    width: 100vw;
    z-index: 1;
}

.sectionsWrapper section:nth-of-type(3){
    background-color: #ffffff;
}

.header {
    /* background-color: pink; */
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    margin-top: 4rem;
    color: white;
    font-family: Georgia, serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.2px white;
}

/* navigation */

.navigationWrapper { 
    position: relative;
    top: 3rem;
    color: white;
    font-size: x-large;
    font-family: Georgia, serif;
    font-weight: 500;
    width: 100%;
    height: 3.5em;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.arrowDownWrapper {
    /* background-color: red; */
    margin-top: 17rem;
    display: flex;
    justify-content: center;
}

.arrowDown {
    width: 2rem;
    height: 2rem;
    border-top: 2px solid rgba(255,255,255,0.7);
    border-right: 2px solid rgba(255,255,255,0.7);
    transform: rotate(135deg);
}

.arrowDown:hover {
    cursor: pointer;
    transform: rotate(135deg);
    border-top: 2px solid rgba(255,255,255,1);
    border-right: 2px solid rgba(255,255,255,1);
}

.sectionTwoArrowDownWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    z-index: 9;
    background-color: pink;
}

/* images */

.sectionOneImageOuterContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4em;
}
.sectionOneImageContainer {
    width: 30em;
    height: 32vh;
}

.sectionTwoImageOuterContainer{
    width: 40em;
    position: relative;
    left: 10em;
    top: 5em;
    z-index: 3;
}

.sectionTwoImageTwoOuterContainer {
    width: 45em;
    position: relative;
    left: 65em;
    bottom: 10em;
}

/* labels */
.sectionOneLabel {
    position: relative;
    bottom: 5rem;
    right: 12rem;
    color: white;
    font-size: 3rem;
    font-family: Georgia, serif;
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.2px white; */
}

.sectionOneLabel > div {
    font-size: 1rem;
}

.sectionTwoTopLabel {
    position: relative;
    left: 18em;
    bottom: 8em;
    font-size: 3rem;
    color: black;
    font-family: Georgia, serif;
    font-size: 3rem;
    border-bottom: 1px solid black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px black;
}

.sectionTwoTopLabel > div {
    font-size: 1.2rem;
    font-weight: 100;
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: black;
}

/* media queries */

@media(max-width: 61em){
    .header {
        font-size: 5rem;
    }

    .sectionOneLabel{
        font-size: 2rem;
        right: 8rem;
        bottom: 3rem;
    }

    .sectionOneLabel > div {
        font-size: 0.75rem;
    }
}

@media(max-width: 50em){
    .header {
        font-size: 3.5rem;
    }

    .sectionOneImageContainer{
        width: 100%;
    }

    .sectionOneLabel {
        display: none;
    }
}