.wrapper {
  position: absolute;
  width: 80vw;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  z-index: 4000;
}

.title {
  width: 100%;
  font-size: xx-large;
  height: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  position: relative;
  height: 90%;
  transition: opacity 1s;
}
.buttons {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  top: 0;
  position: absolute;
  overflow: hidden;
  z-index: 500;
}

.buttons > button {
  cursor: pointer;
  background-color: white;
  box-shadow: none;
  width: 60px;
  margin: 5px;
  border: none;
  border-radius: 5%;
}

.buttons > button:hover {
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  transition: background-color 0.5s;
}

.closeButton {
  position: absolute;
  background-color: white;
  right: 5px;
  cursor: pointer;
  border: none;
}

.closeButton:hover {
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  transition: background-color 0.5s;
}
